<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工厂客户资料管理</title>
 
</head>

 <body ng-app="indexApp" ng-controller="factoryData" class="gray-bg">

	<div class="middle-box text-center loginscreen animated fadeInDown">
		<div style="margin-top: 0">
			<h3>工厂客户资料管理</h3>
		</div>
	</div>
	<!--列表开始-->
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row well white-bg">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="row">
						<!-- 搜索框 -->
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xs-offset-6">
							<div class="input-group">
								<input type="text" class="form-control input-sm" name="search"
									placeholder="输入公司名称查找" ng-model="page.keyWords"
									ng-keyup="searchFactory($event)">
								<div class="input-group-btn">
									<button class="btn btn-sm btn-success" data-toggle="modal"
										ng-click="searchFactory()">
										<span class="fa fa-search"> 搜索</span>
									</button>
								</div>

							</div>
						</div>
					</div>

					<button title="添加" class="btn btn-success btn-sm"
						ui-sref="factoryAddtion">
						<span class="glyphicon glyphicon-plus"></span> 添加
					</button>
					<button title="批量添加" class="btn btn-success btn-sm"
						ui-sref="factoryBatchAddtion">
						<span class="glyphicon glyphicon-plus"></span> 批量添加
					</button>
					<button title="改变顺序" class="btn btn-primary btn-sm"
						ng-click="shunxu()">
						 录入时间排序
					</button>
					<button title="改变顺序" class="btn btn-primary btn-sm"
						ng-click="gshunxu()">
						提醒时间排序
					</button>
					<div class="clearfix"></div>

					<table class="table table-bordered table-hover my-table" 
					style="word-break:break-all; word-wrap:break-all;table-layout:fixed">
						<thead>
							<tr>
								<th width="50px">序号</th>
								<th width="80px">客户代码</th>
								<th width="140px">公司名称</th>
								<th width="70px">负责人</th>
								<th width="150px">电话</th>
								<th width="120px">邮箱</th>
								<th>备注</th>
								<th width="85px">提醒时间</th>
								<th width="85px">录入时间</th>
								<th width="50px">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in factoryList.list">
								<td
									ng-bind="(factoryList.pageNum-1)*factoryList.pageSize+$index+1 || 0"></td>
								<td ng-bind="item.code"></td>
								<td ng-bind="item.name"></td>
								<td ng-bind="item.contacts"></td>
								<td ng-bind="item.phone | phoneFormat"></td>
								<td ng-bind="item.email"></td>
								<td ng-bind="item.remark | remarkFormat" style="color:#5500DD"></td>
								<td ng-bind="item.clock | dateFormat" style="color:#CC0000"></td>
								<td ng-bind="item.intime"></td>
								<td class="text-center">
									<button title="修改" class="btn btn-primary btn-xs"
										ng-click="toEditPage(item.id)">
										修改
									</button>
								</td>
							</tr>
							<tr ng-show="factoryList.list.length==0">
								<td class="text-center" colspan="12">没有记录</td>
							</tr>
						</tbody>
					</table>
					<div class="pull-left">
						共<span ng-bind="factoryList.total"></span>条记录 共<span
							ng-bind="factoryList.pages"></span>页
					</div>
					<div class="text-right">
						<button class="btn btn-white btn-sm"
							ng-click="lastPage(factoryList.pageNum-1)">上一页</button>
						<input type="text" class="form-control page-cout"
							ng-model="page.pageNum" ng-blur="toPage()"
							ng-keyup="toPage($event)" />
						<button class="btn btn-white btn-sm"
							ng-click="nextPage(factoryList.pageNum+1)">下一页</button>
					</div>

				</div>
            </div>
		</div>
			

	</div>

	<!--列表结束-->


</body>
</html>